<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLAST ONLINE</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BLAST ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('login') }}">登录</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">注册</a>
            </div>
        </div>
    </nav>

    <div class="container flex-fill mt-4">
        <div class="text-left">
            <h1>欢迎使用在线BLAST工具！</h1>
            <p class="lead">BLAST（Basic Local Alignment Search Tool）是用于比较生物序列的工具。</p>
        </div>

        <div class="mt-5">
            <h2>关于BLAST</h2>
            <p>BLAST 是用于快速比较生物序列（如 DNA、RNA 或蛋白质序列）的工具。它通过寻找相似的序列来帮助研究人员识别基因和蛋白质功能。</p>
            <h3>主要功能</h3>
            <ul>
                <li>快速的序列比对</li>
                <li>支持多种类型的序列</li>
                <li>提供可视化结果和下载选项</li>
            </ul>
        </div>
    </div>
    <footer class="footer bg-dark text-light text-center mt-auto py-md-01">
        <div>
            <p>&copy; 2024 BLAST ONLINE. By 2021212421凌远洋.</p>
        </div>
    </footer>
</body>
</html>